.featuredSection {
	margin-bottom: 25px;

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	// Feature Item
	.featuredItem {
		height: 250px;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		z-index: -1;

		img {
			width: 100%;
			max-width: 100%;
			object-fit: cover;
		}

		.featuredContent {
			color: #fff;
			position: absolute;
			left: 20px;
			bottom: 20px;

			h3 {
				font-size: 28px;
			}

			h4 {
				font-size: 20px;
			}
		}
	}
}