$primary1: #2f8f9d;

.searchItem {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #d4d4d4;
	border-radius: 3px;

	img {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}

	// Description
	.description {
		flex: 2;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.title {
			font-size: 20px;
			color: $primary1;
		}

		span {
			font-size: 12px;
		}

		.taxiOpt {
			width: fit-content;
			color: #fff;
			background-color: #329542;
			padding: 2px 3px;
			border-radius: 2px;
		}

		.subtitle {
			font-weight: bold;
		}

		.cancelOpt {
			font-weight: bold;
			color: #329542;
		}

		.cancelOptSubtitle {
			color: #329542;
		}
	}

	// Details
	.details {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.rating {
			display: flex;
			align-items: center;
			justify-content: space-between;

			span {
				font-size: 15px;
				font-weight: 500;
			}

			button {
				color: #fff;
				background-color: $primary1;
				padding: 3px 5px;
				border: none;
				outline: 0;
			}
		}

		.detailTexts {
			text-align: right;
			display: flex;
			flex-direction: column;
			gap: 5px;

			.price {
				font-size: 24px;
			}

			.taxOpt {
				font-size: 12px;
				color: #808080;
			}
		}
	}
}